# Node modules
node_modules/
**/node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Docker
*.dockerfile
docker-compose.override.yml

# OS files
.DS_Store
Thumbs.db

# Build artifacts
dist
build
coverage

# Yarn
yarn-error.log
