version: '3.8'

services:
  mysql:
    image: mysql:8
    container_name: chat-mysql
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: quick_chat
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  mongo:
    image: mongo:6
    container_name: chat-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7
    container_name: chat-redis
    ports:
      - "6379:6379"

  rabbitmq:
    image: rabbitmq:3-management
    container_name: chat-rabbit
    ports:
      - "5672:5672"
      - "15672:15672"

volumes:
  mysql_data:
  mongo_data:
